<footer class="site-footer h-card"  style="padding:5px!important;padding-top:15px!important;">

  <div class="wrapper">

    <div class="footer-col-wrapper">

      <div class="footer-col footer-col-1">

        {%- if site.facebook_username -%}
          <a href="https://www.facebook.com/{{ site.facebook_username| cgi_escape | escape }}">
            <svg class="svg-icon">
              <use xlink:href="{{ '/assets/minima-social-icons.svg#facebook' | relative_url }}">
              </use>
            </svg>
            <span class="username">
            </span>
          </a>
        {%- endif -%}

        {{ site.title | escape }} &copy; 2024

      </div>
 
    </div>

  </div>

</footer>
