<footer class="site-footer h-card" style="padding:5px!important;padding-top:15px!important;">
  <data class="u-url" href="{{ "/" | relative_url }}"></data>

  <div class="wrapper">

    <div class="footer-col-wrapper" style="display:flex;">

      <div class="footer-col footer-col-3" style="margin:auto;">
        <a href="https://jaerensparebank.no">
          <img src={% link /assets/sponsors/Jaren_Sparebank.svg %} alt="Jæren Sparebank">
        </a>
      </div>
      <div class="footer-col footer-col-3" style="margin:auto;">
        <a href="https://grensesnitt.no/">
          <img src={% link /assets/sponsors/Grensesnitt.png %} alt="grensesnitt">
        </a>
      </div>

    </div>

  </div>

</footer>
